body {
    margin: 0;
    font-size: 15px;
    font-family: Arial;
}

/*Phần giữa*/
.main {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
}

/*Phần giữa trái*/
.main-left {
    width: 200px;
    height: 100%;
    background-color: #b6ff00;
}
    .main-left ul{
        padding-right: 50px;
    }

    .main-left li {
        padding: 15px;
        list-style: none;
    }

/*Phần giữa phải*/
.main-right {
    width: calc(100% - 200px);
    height: 100%;
    background-color: #808080;
}
